/* You can add global styles to this file, and also import other style files */
@use 'variables';
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito Sans", sans-serif;
	transition: color;
	transition: background 0.2s;
}

body {
	background: variables.$veryLightGray;
	font-size: 16px;

	&.dark {
		background: variables.$veryDarkBlue;
	}
}

.wrapper {
	padding: variables.$globalPadding;
}
