<div class="wrapper" appTheme>
	<div class="inputs-wrapper">
		<div class="field-container">
			<i class="fas fa-search"></i>
			<input
				type="text"
				id="search-bar"
				placeholder="Search for a country"
				[(ngModel)]="searchBar"
				(ngModelChange)="handleSearchbarChange()"
			/>
		</div>
		<app-region-selector
			[(ngModel)]="regionSelected"
			(ngModelChange)="handleRegionChange()"
		></app-region-selector>
	</div>

	<div class="countries-grid" *ngIf="isLoaded; else loading">
		<app-coutry-card *ngFor="let item of countriesToShow" [country]="item">
		</app-coutry-card>
	</div>
</div>

<ng-template #loading>
	<div class="spinner-container">
		<i class="fas fa-spinner fa-pulse"></i>
	</div>
</ng-template>
